<h3>Update Post Details</h3>
<%= form_with model: @post do |form| %>
  <%= form.text_field :author, placeholder: "Author" %>
  <%= form.text_field :content, placeholder: "Content" %>

  <%= form.submit %>
<% end %>
