<h1> Create new Posts</h1>
# <p>Find me in app/views/posts/new.html.erb</p>

<h3>Create a Post</h3>
<%= form_with model: @post do |form| %>
  <%= form.text_field :author, placeholder: "Author" %>
  <%= form.text_field :content, placeholder: "Content" %>
  <%= form.submit %>
<% end %>
